<form class="bk-page__form-popup__wrapper"
      name="admin_reset_form"
      autocomplete="off">
      <input type="text" style="display:none">
      <input type="password" style="display:none">
    <div class="bk-page__form-popup">
        <div class="bk-page__form-popup__header">
            <h6 class="bk-page__form-popup__header__title">Reset user record</h6>
        </div>
        <div class="bk-page__form-popup__content">
            <div class="bk-page__form-popup__content__form">

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">New password :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="password"
                                   name="password"
                                   ng-model="pageCtrl.contentPopup.model.password"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row clearfix">

                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Confirm password :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="password"
                                   name="confirmpassword"
                                   ng-model="pageCtrl.contentPopup.model.confirmpassword"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bk-page__form-popup__footer">
            <button class="bk-page__form-popup__footer__button save fright"
                    ng-click="pageCtrl.contentPopup.onReset(admin_reset_form, pageCtrl.contentPopup.model, 'resetpassword')">
                <span class="bk-page__form-popup__footer__button__title">Save</span>
            </button>
            <button class="bk-page__form-popup__footer__button cancel fright"
                    ng-click="pageCtrl.contentPopup.onClose('resetpassword')">
                <span class="bk-page__form-popup__footer__button__title">Cancel</span>
            </button>
        </div>
    </div>
</form>
