<form class="bk-page__form-popup__wrapper"
      name="admin_form"
      autocomplete="off">
    <div class="bk-page__form-popup">
        <div class="bk-page__form-popup__header">
            <h6 class="bk-page__form-popup__header__title">Add user record</h6>
        </div>
        <div class="bk-page__form-popup__content">
            <div class="bk-page__form-popup__content__form">

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell half-cell fleft">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">First name :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="firstName"
                                   ng-model="pageCtrl.contentPopup.model.firstName"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell half-cell fright">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Last name :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="lastName"
                                   ng-model="pageCtrl.contentPopup.model.lastName"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row clearfix">

                    <div class="bk-page__form-popup__content__form__row__cell fleft half-cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Username :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="username"
                                   ng-model="pageCtrl.contentPopup.model.username"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell fright half-cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Password :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="password"
                                   placeholder="Password"
                                   name="password"
                                   ng-model="pageCtrl.contentPopup.model.password"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell half-cell fleft">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Role :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__cust-dropdown__wrapper">
                            <div class="bk-page__form-popup__content__form__row__cell__cust-dropdown__header">
                                <input type="text"
                                       class="bk-page__form-popup__content__form__row__cell__cust-dropdown__header__title"
                                       name="role"
                                       disabled="true"
                                       ng-model="pageCtrl.contentPopup.model.role"
                                       placeholder="Select role">
                                <span class="bk-page__form-popup__content__form__row__cell__cust-dropdown__header__icon"></span>
                            </div>
                            <ul class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list">
                                <li class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list__item"
                                    ng-repeat="item in ['User', 'Admin']"
                                    ng-click="pageCtrl.contentPopup.model.role = item"
                                >{{item}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell fright half-cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Phone number :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="phonenumber"
                                   ng-model="pageCtrl.contentPopup.model.phonenumber"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="bk-page__form-popup__footer">
            <button class="bk-page__form-popup__footer__button save fright"
                    ng-click="pageCtrl.contentPopup.onAdd(admin_form, pageCtrl.contentPopup.model)">
                <span class="bk-page__form-popup__footer__button__title">Save</span>
            </button>
            <button class="bk-page__form-popup__footer__button cancel fright"
                    ng-click="pageCtrl.contentPopup.onClose()">
                <span class="bk-page__form-popup__footer__button__title">Cancel</span>
            </button>
        </div>
    </div>
</form>
