<form class="bk-page__form-popup__wrapper"
      name="otherincomingmaterial_form">
    <div class="bk-page__form-popup">

        <div class="bk-page__form-popup__header">
            <h6 class="bk-page__form-popup__header__title">Add Other Incoming material record</h6>
        </div>

        <div class="bk-page__form-popup__content">
            <div class="bk-page__form-popup__content__form">

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell fleft half-cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Entry date :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="date"
                                   name="entryDate"
                                   ng-model="pageCtrl.contentPopup.model.entryDate"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell fright half-cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Invoice No :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="invoiceNo"
                                   ng-model="pageCtrl.contentPopup.model.invoiceNo"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Supplier Name :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="supplierName"
                                   ng-model="pageCtrl.contentPopup.model.supplierName"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Purchaser Name :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="purchaserName"
                                   ng-model="pageCtrl.contentPopup.model.purchaserName"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Material Description :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="materialDescription"
                                   ng-model="pageCtrl.contentPopup.model.materialDescription"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Total amount :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   name="totalAmount"
                                   ng-model="pageCtrl.contentPopup.model.totalAmount"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bk-page__form-popup__footer">
            <button class="bk-page__form-popup__footer__button save fright"
                    ng-click="pageCtrl.contentPopup.onAdd(otherincomingmaterial_form, pageCtrl.contentPopup.model)">
                <span class="bk-page__form-popup__footer__button__title">Save</span>
            </button>
            <button class="bk-page__form-popup__footer__button cancel fright"
                    ng-click="pageCtrl.contentPopup.onClose()">
                <span class="bk-page__form-popup__footer__button__title">Cancel</span>
            </button>
        </div>

    </div>
</form>