<div class="bk-settings">
    <div class="bk-settings__header">
        <h4 class="bk-settings__header__title">Settings</h4>
    </div>
    <div class="bk-settings__container">
        <div class="bk-settings__container__group clearfix">
            <div class="bk-settings__container__group__left-section fleft">
                <span class="bk-settings__container__group__left-section__title">Change Password</span>
            </div>
            <div class="bk-settings__container__group__right-section fright">
                <div class="bk-settings__container__group__right-section__row">
                    <input type="password"
                           class="bk-settings__container__group__right-section__row__input-box"
                           placeholder="Enter old password">
                </div>
                <div class="bk-settings__container__group__right-section__row">
                    <input type="password"
                           class="bk-settings__container__group__right-section__row__input-box"
                           placeholder="Enter new password">
                </div>
                <div class="bk-settings__container__group__right-section__row">
                    <input type="password"
                           class="bk-settings__container__group__right-section__row__input-box"
                           placeholder="Repeat new password">
                </div>
                <div class="bk-settings__container__group__right-section__row">
                    <button class="bk-settings__container__group__right-section__row__button">
                        <span class="bk-settings__container__group__right-section__row__button__title">Change password</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>