bk-header {
  display: block;
  height: 60px;
}

.bk-header__logo {
  height: 100%;
  width: 200px;
  padding: 14px 0 0 20px;
}

.bk-header__logo__image {
  height: 65%;
}

.bk-header__profile-dropdown {
  width: 210px;
  height: 100%;
}

.bk-header__profile-dropdown__list {
  position: absolute;
  width: 100%;
  list-style: none;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-top: 1px solid rgba(226, 226, 226, 0);
  box-shadow: -2px 2px 8px 0px #e2e2e2;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  z-index: 9;
  transition: opacity 0.15s ease-in, transform 0.15s ease-in;
}

.bk-header__profile-dropdown:hover .bk-header__profile-dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.bk-header__profile-dropdown__list__item {
  display: block;
  height: 40px;
  font-size: 16px;
  padding: 11px 15px;
  color: #313942;
  background: rgba(226, 226, 226, 0);
  cursor: pointer;
  transition: all 0.1s ease-in;
}


.bk-header__profile-dropdown__list__item:hover {
  background: rgba(226, 226, 226, 0.2);
}

.bk-header__profile-dropdown__header {
  height: 100%;
  padding: 12px 5px 0 12px;
  border-left: 1px solid #e2e2e2;
  cursor: pointer;
}

.bk-header__profile-dropdown__header__prof-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 5px;
  position: relative;
  /*background-image: url(images/prof-pic.jpg);*/
}

.bk-header__profile-dropdown__header__prof-title {
  font-size: 16px;
  font-weight: 600;
  padding: 9px 0 0 8px;
  color: #313942;
  max-width: calc(100% - 75px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bk-header__profile-dropdown__header__prof-icon {
  width: 10px;
  height: 10px;
  border: 2px solid #818c9b;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  margin: 10px 10px 0 0;
}