bk-header {
  display: block;
  height: 60px;
  border-bottom: 1px solid #647483;
}

.bk-header__logo {
  height: 100%;
  width: 200px;
  padding: 14px 0 0 20px;
}

.bk-header__logo__image {
  height: 65%;
}

.bk-header__profile-dropdown {
  width: 170px;
  height: 100%;
}

.bk-header__profile-dropdown__list {
  position: absolute;
  display: none;
}

.bk-header__profile-dropdown__header {
  height: 100%;
  padding: 12px 5px;
}

.bk-header__profile-dropdown__header__prof-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/prof-pic.jpg);
}

.bk-header__profile-dropdown__header__prof-title {
  font-size: 13px;
  font-weight: 600;
  padding: 9px 0 0 8px;
  color: #313942;
  max-width: calc(100% - 75px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bk-header__profile-dropdown__header__prof-icon {
  width: 10px;
  height: 10px;
  border: 2px solid #818c9b;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  margin: 10px 10px 0 0;
}