.bk-header {
  height: 70px;
  border-bottom: 1px solid #647483;
}

.bk-header__logo {
  height: 100%;
  width: 250px;
  padding-left: 20px;
  padding-top: 15px;
}

.bk-header__logo__image {
  height: 75%;
}

.bk-header__profile-dropdown {
  width: 200px;
  height: 100%;
}

.bk-header__profile-dropdown__list {
  position: absolute;
  display: none;
}

.bk-header__profile-dropdown__header {
  height: 100%;
  padding: 15px 5px;
}

.bk-header__profile-dropdown__header__prof-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #607D8B;
}

.bk-header__profile-dropdown__header__prof-title {
  font-size: 14px;
  padding-top: 11px;
  padding-left: 8px;
  color: #607D8B;
  max-width: calc(100% - 75px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bk-header__profile-dropdown__header__prof-icon {
  width: 10px;
  height: 10px;
  border: 2px solid #9E9E9E;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  margin-top: 13px;
  margin-right: 10px;
}