/* :::: RESET CLASSES STARTS HERE :::: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  //font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

input, button {
  outline: none;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder { /* Firefox 18- */
  color: inherit;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
}

input:-ms-input-placeholder {
  color: inherit;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0;
}

/* :::: RESET CLASSES ENDS HERE :::: */



/* :::: COMMONLY USED CLASSES STARTS HERE :::: */

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.bk-height-100per {
  height: 100%;
}

.bk-margin-l-r-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* :::: COMMONLY USED CLASSES ENDS HERE :::: */
