<div class="bk-login__wrapper">

    <form novalidate 
        name="loginform" 
        ng-init="LoginCtrl.userType = 'admin'"
        class="bk-login">
        <div class="bk-login__logo"></div>

        <div class="bk-login__left">
            <div class="bk-login__left__form">
                <h4 class="bk-login__left__form__title">Login</h4>
                <input type="text"
                       class="bk-login__left__form__input-box"
                        ng-model="LoginCtrl.username"
                        required="true" 
                        name="username"
                        ng-change="LoginCtrl.errormessage =''"
                       placeholder="Username">
                <input type="password"
                        required="true"
                        name="password" 
                        ng-model="LoginCtrl.password"
                        ng-change="LoginCtrl.errormessage =''"
                       class="bk-login__left__form__input-box"
                       placeholder="Password">
                <span class="clearfix">
                    {{LoginCtrl.errormessage}}
                </span>
                <div class="bk-login__left__form__button__wrapper clearfix">
                    <button 
                        class="bk-login__left__form__button fleft" 
                        ng-click="LoginCtrl.validate(loginform)">
                        Login
                    </button>
                    <div class="bk-login__left__form__check-box__wrapper fright">
                        <input type="checkbox" class="bk-login__left__form__check-box" id="loginRememberMe">
                        <label class="bk-login__left__form__check-box-label" for="loginRememberMe">Remember me</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="bk-login__right">
            <div class="bk-login__right__choice-box">
                <h4 class="bk-login__right__choice-box__title">Login as</h4>
                <ul class="bk-login__right__choice-box__list">

                    <li class="bk-login__right__choice-box__list__item"
                        ng-class="{
                            active: LoginCtrl.userType == 'user'
                        }"
                        ng-click="LoginCtrl.userType = 'user'">
                        <div class="bk-login__right__choice-box__list__item__image flaticon-user"></div>
                        <span class="bk-login__right__choice-box__list__item__title">User</span>
                    </li>

                    <li class="bk-login__right__choice-box__list__item"
                        ng-class="{
                            active: LoginCtrl.userType == 'admin'
                        }"
                        ng-click="LoginCtrl.userType = 'admin'">
                        <div class="bk-login__right__choice-box__list__item__image flaticon-user-1"></div>
                        <span class="bk-login__right__choice-box__list__item__title">Admin</span>
                    </li>

                </ul>
            </div>
        </div>
    </form>
</div>
