.bk-login__wrapper {
  position: relative;
  height: 100%;
  background: url(images/login-bg.jpeg) no-repeat;
  background-size: cover;
}

.bk-login__wrapper:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(57, 58, 60, 0.7);
}

.bk-login {
  position: relative;
  top: calc(50% + 60px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 370px;
  width: 600px;
  box-shadow: 15px 20px 80px 10px rgba(0, 0, 0, 0.3);
}

.bk-login__logo {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: -130px;
  background: url(images/bluedart.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.bk-login__left {
  float: left;
  width: 60%;
  height: 100%;
  background: #4a63da;
}

.bk-login__right {
  float: right;
  width: 40%;
  height: 100%;
  background: #353453;
}

.bk-login__left__form {
  width: calc(100% - 80px);
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bk-login__left__form__title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 35px;
}

.bk-login__left__form__input-box {
  width: 100%;
  margin-bottom: 20px;
  height: 34px;
  font-size: 13px;
  font-weight: 100;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease;
}

.bk-login__left__form__input-box:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.bk-login__left__form__button {
  height: 32px;
  width: 100px;
  background: transparent;
  border: 2px solid #fff;
  font-size: 13px;
  color: #fff;
}

.bk-login__left__form__check-box-label {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.07em;
}

.bk-login__left__form__button__wrapper {
  margin-top: 20px;
}

.bk-login__left__form__check-box__wrapper {
  padding-top: 9px;
}

.bk-login__left__form__check-box {
  margin-right: 5px;
}

.bk-login__right__choice-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bk-login__right__choice-box__title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 35px;
  text-align: center;
}

.bk-login__right__choice-box__list {
  list-style: none;
  cursor: pointer;
}

.bk-login__right__choice-box__list__item {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  color: #fff;
  opacity: 0.8;
}

.bk-login__right__choice-box__list__item:hover,
.bk-login__right__choice-box__list__item.active {
  opacity: 1;
}

.bk-login__right__choice-box__list__item__image.flaticon-user:before,
.bk-login__right__choice-box__list__item__image.flaticon-user-1:before {
  color: inherit;
  font-size: 50px;
}

.bk-login__right__choice-box__list__item__title {
  display: block;
  font-size: 13px;
  padding-top: 7px;
  font-weight: 600;
}

.bk-login__right__choice-box__list__item.active {
  color: #2196F3;
}

.bk-login__right__choice-box__list__item.active:before {
  content: '';
  position: absolute;
  top: 2px;
  left: calc(50% + 10px);
  width: 22px;
  height: 22px;
  background: #ffffff;
  border-radius: 50%;
}

.bk-login__right__choice-box__list__item.active:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border: 2px solid #2196F3;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 8px;
  left: calc(50% + 15px);
}