<form class="bk-page__form-popup__wrapper"
      name="bitumen_form">
    <div class="bk-page__form-popup">
        <div class="bk-page__form-popup__header">
            <h6 class="bk-page__form-popup__header__title">Add Bitumen Entry</h6>
        </div>
        <div class="bk-page__form-popup__content">
            <div class="bk-page__form-popup__content__form">

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell half-cell fleft">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Invoice No :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell half-cell fright">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Date :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="date"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Supplier Name :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Vehicle No :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row">
                    <div class="bk-page__form-popup__content__form__row__cell">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Invoice Amount :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

                <div class="bk-page__form-popup__content__form__row clearfix">
                    <div class="bk-page__form-popup__content__form__row__cell half-cell fleft">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Material :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__cust-dropdown__wrapper">
                            <div class="bk-page__form-popup__content__form__row__cell__cust-dropdown__header">
                                <span class="bk-page__form-popup__content__form__row__cell__cust-dropdown__header__title">Select material</span>
                            </div>
                            <ul class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list">
                                <li class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list__item">Item 1</li>
                                <li class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list__item">Item 2</li>
                                <li class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list__item">Item 3</li>
                                <li class="bk-page__form-popup__content__form__row__cell__cust-dropdown__list__item">Item 4</li>
                            </ul>
                        </div>
                    </div>

                    <div class="bk-page__form-popup__content__form__row__cell half-cell fright">
                        <div class="bk-page__form-popup__content__form__row__cell__input-label">
                            <span class="bk-page__form-popup__content__form__row__cell__input-label__title">Total tone :</span>
                        </div>
                        <div class="bk-page__form-popup__content__form__row__cell__input__wrapper">
                            <input type="text"
                                   class="bk-page__form-popup__content__form__row__cell__input">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bk-page__form-popup__footer">
            <button class="bk-page__form-popup__footer__button save fright"
                    ng-click="pageCtrl.contentPopup.onAdd(aggrade_form, pageCtrl.contentPopup.model)">
                <span class="bk-page__form-popup__footer__button__title">Save</span>
            </button>
            <button class="bk-page__form-popup__footer__button cancel fright"
                    ng-click="pageCtrl.contentPopup.onClose()">
                <span class="bk-page__form-popup__footer__button__title">Cancel</span>
            </button>
        </div>
    </div>
</form>