<div class="bk-page__header__wrapper clearfix">
    <div class="bk-page__header__input__wrapper fleft">
        <input type="text" class="bk-page__header__input-box" placeholder="Search">
        <span class="bk-page__header__input-icon"></span>
    </div>

    <button class="bk-page__header__button refresh fleft clearfix"
            ng-click="pageCtrl.filterSlider.show()">
        <span class="bk-page__header__button__icon flaticon-arrows fleft"></span>
        <span class="bk-page__header__button__title fright">Refresh</span>
    </button>

    <button class="bk-page__header__button fleft clearfix"
            ng-click="pageCtrl.filterSlider.show()"
            ng-if="false">
        <span class="bk-page__header__button__icon filter-icon fleft"></span>
        <span class="bk-page__header__button__title fright">Filter</span>
    </button>

    <button class="bk-page__header__button primary small fright clearfix"
            ng-click="pageCtrl.contentPopup.show()">
        <span class="bk-page__header__button__icon add-icon fleft">+</span>
        <span class="bk-page__header__button__title fright">Add</span>
    </button>
</div>

<div class="bk-page__table__wrapper">
    <div class="bk-table__wrapper">
        <table class="bk-table">
            <thead>
            <tr>
                <!-- <th><input class="bk-table__checkbox" type="checkbox"></th>
                <th>Sl no</th>
                <th>Status</th>
                <th class="bk-text-align-center">Actions</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>IP address</th> -->
                <th ng-repeat="header in pageCtrl.tableData.headers">
                    {{header}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cell in pageCtrl.tableData.itemsData">
                <td ng-repeat="header in pageCtrl.tableData.headers"
                    ng-init="head = pageCtrl.tableData.dataOrder[header]">
                    <div class="bk-table__action-button__wrapper"
                        ng-if="header === 'ACTIONS'">

                        <button class="bk-table__action-button edit"
                            ng-click="pageCtrl.contentPopup.show(cell)">
                            <span class="bk-table__action-button__icon flaticon-draw"></span>
                            <span class="bk-table__action-button__title">Edit</span>
                        </button>

                        <button class="bk-table__action-button delete"
                            ng-click="pageCtrl.delete(cell)">
                            <span class="bk-table__action-button__icon flaticon-delete"></span>
                            <span class="bk-table__action-button__title">Delete</span>
                        </button>

                    </div>
                    {{head.type? head.type(cell[head.header]):cell[head.header]}}
                </td>
                <!-- <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>{{cell.id}}</td>
                <td>
                    <div class="bk-table__toggler__wrapper">
                        <input class="bk-table__toggler__input-ckbox" type="checkbox" id="box1">
                        <label class="bk-table__toggler__label" for="box1">
                            <span class="bk-table__toggler__label__control">
                                <span class="bk-table__toggler__label__control__slider"></span>
                            </span>
                            <span class="bk-table__toggler__label__tooltip"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>{{cell.first_name}}</td>
                <td>{{cell.last_name}}</td>
                <td>{{cell.ip_address}}</td> -->
            </tr>
            </tbody>
        </table>
    </div>

    <div class="bk-page__table-pagination__wrapper clearfix">

        <div class="bk-page__table-pagination__details fleft">
            <span class="bk-page__table-pagination__details__title">Showing:</span>
            <span class="bk-page__table-pagination__details__sub-title">1 - 50 of 134</span>
        </div>

        <div class="bk-page__table-pagination__nav fright">
            <button class="bk-page__table-pagination__nav__button prev">
                <span class="bk-page__table-pagination__nav__button__title"></span>
            </button>
            <button class="bk-page__table-pagination__nav__button">
                <span class="bk-page__table-pagination__nav__button__title">1</span>
            </button>
            <button class="bk-page__table-pagination__nav__button active">
                <span class="bk-page__table-pagination__nav__button__title">2</span>
            </button>
            <button class="bk-page__table-pagination__nav__button">
                <span class="bk-page__table-pagination__nav__button__title">3</span>
            </button>
            <button class="bk-page__table-pagination__nav__button">
                <span class="bk-page__table-pagination__nav__button__title">4</span>
            </button>
            <button class="bk-page__table-pagination__nav__button next">
                <span class="bk-page__table-pagination__nav__button__title"></span>
            </button>
        </div>
    </div>

</div>

<div class="bk-page__filter__wrapper"
     ng-if="flase">
    <!--ng-if="pageCtrl.filterSlider.visible"-->
    <div class="bk-page__filter__header clearfix">
        <h6 class="bk-page__filter__header__title fleft">Filter</h6>
        <button class="bk-page__filter__header__close-button fright"
                ng-click="pageCtrl.filterSlider.onClose()">
            <span class="bk-page__filter__header__close-button__icon"></span>
        </button>
    </div>
</div>

<div ng-include="'dist/views/aggrade.popup.html'"></div>
<div ng-include="'dist/views/bitumen.popup.html'"
ng-if="false"></div>