<div class="bk-page__header__wrapper clearfix">
    <div class="bk-page__header__input__wrapper fleft">
        <input type="text" class="bk-page__header__input-box" placeholder="Search">
        <span class="bk-page__header__input-icon"></span>
    </div>
    <button class="bk-page__header__button fleft clearfix">
        <span class="bk-page__header__button__icon fleft"></span>
        <span class="bk-page__header__button__title fright">Filter</span>
    </button>

    <button class="bk-page__header__button primary fright clearfix">
        <span class="bk-page__header__button__icon fleft"></span>
        <span class="bk-page__header__button__title fright">Add</span>
    </button>
</div>
<div class="bk-page__table__wrapper">
    <table class="bk-table">
        <thead>
            <tr>
                <th><input class="bk-table__checkbox" type="checkbox"></th>
                <th>Sl no</th>
                <th class="bk-text-align-center">Actions</th>
                <th>Date</th>
                <th>Trip sheet no</th>
                <th>Supplier Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
            <tr>
                <td><input class="bk-table__checkbox" type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="bk-table__action-button__wrapper">

                        <button class="bk-table__action-button edit">
                            Edit
                        </button>

                        <button class="bk-table__action-button delete">
                            Delete
                        </button>

                    </div>
                </td>
                <td>22/Aug/2016</td>
                <td>#638121</td>
                <td>Flipkart</td>
            </tr>
        </tbody>
    </table>

    <div class="bk-page__table-pagination__wrapper clearfix">

        <div class="bk-page__table-pagination__details fleft">
            <span class="bk-page__table-pagination__details__title">Showing:</span>
            <span class="bk-page__table-pagination__details__sub-title">1 - 50 of 134</span>
        </div>

        <div class="bk-page__table-pagination__nav fright">
            <button class="bk-page__table-pagination__nav__button prev">
                <span class="bk-page__table-pagination__nav__button__title"></span>
            </button>
            <button class="bk-page__table-pagination__nav__button">
                <span class="bk-page__table-pagination__nav__button__title">1</span>
            </button>
            <button class="bk-page__table-pagination__nav__button active">
                <span class="bk-page__table-pagination__nav__button__title">2</span>
            </button>
            <button class="bk-page__table-pagination__nav__button">
                <span class="bk-page__table-pagination__nav__button__title">3</span>
            </button>
            <button class="bk-page__table-pagination__nav__button next">
                <span class="bk-page__table-pagination__nav__button__title"></span>
            </button>
        </div>
    </div>

</div>